.container{
  padding:1rem;
}

.title{
  color: #E36F6F;
  font-size: 7vh;
  text-align: center;
}

.subtitle{
  font-size: 3vh;
}

.card{
  padding: 1rem;
  background-color: #4d4d4d;
  border-radius: 10px;
  margin-bottom: 2rem;
}

p{
  font-size: 16px;
  font-weight: bold;
}

.start-button{
  margin-top: 1rem;
  width: 100%;
}

.left-input{
  margin-left: 16px;
}

.progress-bar{
  margin-top: 1rem;
  margin-bottom: 3rem;
}
